[submodule "backend"]
path = backend
url = https://github.com/TobyMosque/ws-qv2-nest-keycloak-backend.git

[submodule "frontend-vite"]
path = frontend-vite
url = https://github.com/TobyMosque/ws-qv2-nest-keycloak-frontend-vite.git
