[submodule "backend"]
path = backend
url = https://github.com/TobyMosque/ws-qv2-nest-keycloak-backend.git

[submodule "frontend"]
	path = frontend
	url = https://github.com/TobyMosque/ws-qv2-nest-keycloak-frontend.git
